<!DOCTYPE html>
<html>
    <head>
        <title>Sample theme</title>	
        <script type="text/javascript">
            var browser = "Firefox";
        </script>
    </head>
    <body >
        <div class="ui-layout-north">
            Menu Atas
        </div>
        <div class="ui-layout-west">
            <div class="panel panel-success" ng-controller="cobaCtrl">
                <div class="panel-heading">Main Menu</div>
                <div class="panel-body" >
                    <span ng-if="doing_async">...loading...</span>
                    <abn-tree 
                        tree-data         = "my_data"
                        tree-control      = "my_tree"
                        on-select         = "my_tree_handler(branch)"
                        expand-level      = "2"
                        initial-selection = "Vegetable">      
                    </abn-tree>
                </div>
            </div>
        </div>
        <div class="ui-layout-center">
            <ng-view></ng-view>
        </div>

        <link rel="stylesheet" type="text/css" href="assets/lib/jquery/layout-default-latest.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/ng-grid/ng-grid.min.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/ng-tree/abn_tree.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/loading/loading-bar.min.css">
        <link rel="stylesheet" type="text/css" href="assets/lib/toaster/toaster.css">

        <script type="text/javascript" src="assets/lib/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="assets/lib/jquery/jquery.layout-latest.min.js"></script>
        <script type="text/javascript" src="assets/lib/angularjs/angular.min.js"></script>	

        <!--Bootstrap-->
        <link rel="stylesheet" type="text/css" href="assets/lib/bootstrap/css/bootstrap.min.css">

        <!--Tambahan-->
        <link rel="stylesheet" href="assets/css/style.css" />
        <link rel="stylesheet" href="assets/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="assets/css/bootstrap-dialog.css" />

        <!--theme-->
        <!-- <link rel="stylesheet" type="text/css" href="assets/lib/theme/jquery-ui-1.10.4.custom.min.css"> -->

        <!--Aplikasi-->
        <script type="text/javascript" src="assets/js/script.js"></script>
        <script type="text/javascript" src="assets/js/app.js"></script>

        <script type="text/javascript">
                        $(document).ready(function() {
                            $('body').layout({applyDemoStyles: true});
                            $('.ui-layout-pane-west').css('overflow', 'hidden');
                        });
        </script>

    </body>
</html>