.panel{
	position: absolute;  
    left: 0; 
    right: 0; 
    top: 0;
    bottom: 0;
    border: 0;
}

.panel-body{
	overflow: auto;
	bottom: 10px;
	height: 96%;
	border: 0;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 0; 
    right: 0; 
    top: 42px; 
    bottom: 0; 
    overflow: hidden;
}

.toolbarmain{
	background-color: #dff0d8; /*#428bca;*/
	border: 1px solid rgb(212,212,212);
    position: absolute;  
    left: 0; 
    right: 0; 
    top: 0;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/**/
.ngHeaderCell{
	background-color: #FFAC84;
    border-style:groove;
    /*background-color:#D2D2D2;*/
    border-width:1px;
    /*border-style:solid;
    border-bottom-color:#aaa;
    border-right-color:#aaa;
    border-top-color:#ddd;
    border-left-color:#ddd;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;*/
}

.ngFooterPanel{
    border-style:groove;   
    background-color: #FFAC84;
}

.ngRow.odd{
	background-color: #FFE7CE;
}

.ngRow.even{
	background-color: #FFD5BF;
}

.ngRow.selected{
	background-color: #FF8040;
}

.modal-dialog{
	z-index:10000;
}

/*
Dialog
*/
.modal{
    top : 45px;
    left: 202px;
}
.modal-content{
    top: 10px;
}

.modal-header{
    cursor: move;
}

/**
Toas
*/
.toast-top-center {
    top: 50px;
    left:58%;
    margin:0 0 0 -150px;
}